body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg,#ffffff,#9f9d9d);
}

.game {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h1 {
    color: #333;
}

#vs-computer {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.player-score {
    background-color: #ffd1b8;
    padding: 10px;
    border-radius: 5px;
}

.player-score {
    background-color: #fff3e0; 
    padding: 15px;
    border-radius: 10px;
    width: 100px;
    border: 1px solid #f79c71;
}

.player-score h3 {
    font-size: 0.9rem;
    margin: 0;
    color: #666;
}

.player-score p {
    font-size: 2rem;
    margin: 5px 0 0 0;
    font-weight: bold;
}

.choices {
    margin: 20px;
}

.choice {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition:0.2s;
    
}
.choice:hover {
    transform: scale(1.1);
}
.choice:active {
    transform: scale(0.9);
}


.obrazok {
    border-radius: 5px;
}

.result {
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#winner {
    color: #ff5722;
}

#restart {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

